* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(28, 28, 35);
}

.btn {
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	color: #fff;
	border: 2px solid white;
	width: 120px;
	height: 100px;
	margin: 20px;
	text-transform: capitalize;
}

.one {
	background-color: #9b2226;
}

.two {
	background-color: #ae2012;
}

.three {
	background-color: #bb3e03;
}

.four {
	background-color: #ca6702;
}

.five {
	background-color: #ee9b00;
}

.six {
	background-color: #e09f3e;
}

.content-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
